body {

	font:15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #222;
}

h1, h2 {
	text-align: center;
	color: #77f7ee;	
	}

p {
	color: #55d6cc;	
}



.phoneimg {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.container{
	padding-top:30px;
	max-width: 680px;
	width: 90%;
	margin: auto;
	overflow: hidden;
}

ul {

	margin: 0;
	padding: 0;
	text-align: center;
	
}

header {
	background-color:#55d6cc;
	padding-top: 1px; 
	padding-bottom: 10px;
	border-bottom: #222 3px solid;

}

header a {

	color: #222;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	
}
header a:hover {
	font-weight: bold;
}

header li{

	display: inline;
	padding: 2%;

	
}


.home-photo {
	position: relative;
	width: 100%;
	height: auto;
}

.mug {
	height: 200px;
	width: 200px;
	position: relative;
	left: 50%;
	margin-left: -100px;
}

.photo-grid {
	width: 90%;
	padding: 5%;
}

h3 {
	text-align: center;
	text-transform: uppercase;
	color: white;
	
} 
h3 u {
    text-decoration: none;
    border-bottom: 3px solid red;
    border-radius: 3px;
  }

.graphPhotos {
	padding: 10px;
	max-width: 300px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}  

footer {
	padding: 1px;
	background-color: #55d6cc; 
	text-align: center;

}

footer a {
	color: #222;
	text-decoration: none;
	text-transform: uppercase;
}


a:hover {
	font-weight: bold;
}

@media(max-width: 665px) {


	header li {

		padding: 0;
		display: inline-block;
		text-align: center;
		width: 100%;

	}

	ul {
		font-size: 30px;
		
	}

	.container {
		width: 90%;
	}
}

@media(orientation: landscape) {

	header li {

		padding: 0;
		display: inline;
		padding: 2%;

	}

}


	

	ul {
		font-size: 30px;
		
	}

	.container {
		width: 90%;
	}
}