@import url('https://fonts.googleapis.com/css?family=Nunito');
body {
	font:15px/1.5 'Nunito',  sans-serif;
	padding: 0;
	margin: 0;
	background-image:url(../res/studio.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

}



h1, h2 {
	text-align: center;
	color: #77f7ee;	
	}

p {
	color: #55d6cc;	
	font-family: 'Nunito', sans-serif;
}

.headline {
	width: 70%;
	/*display: flex;
	flex-direction: column;*/
}


.phoneimg {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.container{
	
	max-width: 680px;
	width: 100%;

	margin: auto;
	overflow: hidden;
	background-color: #222;
	background-size:cover;
}

ul {

	margin: 0;
	padding: 0;
	text-align: center;
	
}

header {
	background-color:#55d6cc;
	padding-top: 1px; 
	padding-bottom: 5px;
	border-bottom: #222 3px solid;

}

header a {

	color: #222;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	
}
header a:hover {
	font-weight: bold;
}

header li{

	display: inline;
	padding: 2%;

	
}


.home-photo {
	position: relative;
	width: 100%;
	height: auto;
}

.mug {
	width: 100%;
	position: relative;
	
}

.photo-grid {
	width: 90%;
	padding: 5%;
}

h3 {
	text-align: center;
	text-transform: uppercase;
	color: white;
	
} 
h3 u {
    text-decoration: none;
    border-bottom: 3px solid red;
    border-radius: 3px;
  }

.graphPhotos {
	padding: 10px;
	max-width: 300px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}  

footer {
	padding: 1px;
	background-color: #55d6cc; 
	text-align: center;

}

footer a {
	color: #222;
	text-decoration: none;
	text-transform: uppercase;
}


a:hover {
	font-weight: bold;
}

@media(max-width: 665px) {


	header li {

		padding: 0;
		display: inline-block;
		text-align: center;
		width: 100%;

	}

	ul {
		font-size: 30px;
		
	}

	.container {
		width: 90%;
	}

	.headline h1{
		width: 100%;
		padding: 5%
	}

}

@media(orientation: landscape) {

	header li {

		padding: 0;
		display: inline;
		padding: 2%;

	}

}


	

	ul {
		font-size: 30px;
		
	}

	.container {
		width: 100%;
	}
}