body {

	font:15px/1.5 Arial, Helvetica, sans-serif;
	padding: 0;
	margin: 0;
	background-color: #222;
}

h1, h2 {
	text-align: center;
	color: #77f7ee;	
	}

p {
	color: #55d6cc;	
}

.phoneimg {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.container{
	padding-top: 30px;
	max-width: 768px;
	width: 98%;
	margin: auto;
	overflow: hidden;
}

ul {

	margin: 0;
	padding: 0;
	text-align: center;
	
}

/* header */
header {
	background-color:#55d6cc;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: #222 3px solid;

}

header a {

	color: #222;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	
}
a:hover {
	font-weight: bold;
}

header li{

	display: inline;
	padding: 2%;
	
}

/* -- */

.home-photo {
	position: relative;
	width: 100%;
	height: auto;
}

.mug {
	height: 200px;
	width: 200px;
	position: relative;
	left: 50%;
	margin-left: -100px;
}

.photo-grid {
	width: 90%;
	padding: 5%;
}

h3 {
	text-align: center;
	text-transform: uppercase;
	color: white;
	
} 
u {
    text-decoration: none;
    border-bottom: 3px solid red;
    border-radius: 3px;
  }

.graphPhotos {
	padding: 10px;
	max-width: 500px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}  

@media(max-width: 768px) {

	header {
		background-color:#55d6cc;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: #222 3px solid;

	}

	header li {
		display: inline-block;
		text-align: center;
		width: 100%;
	}
}